<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <script src="/js/agregarCliente.js" type="module"></script>
   
</head>

<body>
    <div class="main-content">


        <p>Agregar un cliente</p>

        <form>
            <p>nombre:</p><input placeholder="nombre" id="nombre">
            <p>numero:</p><input placeholder="+57_numero" id="numero">
            <p>auth</p><input placeholder="auth" id="auth">
            <button>Search</button>
        </form>
        
        <p id="message-1"></p>
        
    </div>

    
</body>

</html>