<!DOCTYPE html>
<html>

<head>
    <title>All Clean medellin mensajes</title>
    <!--<link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">-->
    <script src="https://unpkg.com/axios/dist/axios.min.js" type="module"></script>
</head>

<body>
    <div class="main-content">
        
        <p>Menu</p>

        <a href="/verClientes">Ver Clientes</a><br>
        <a href="/agregarClientes">Agregar Clientes</a><br>
        <a href="/mandarMensaje">Mandar Mensajes</a><br>
        
</body>

</html>